
/* utility classes */
.no-margin {
  margin: 0;
}

/*  you need to set #root to 100% as well */
html, body, #root {
  width: 100%;
  height: 100%;
}

/* LAYOUT */

.App-container {
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 0.3fr 2.4fr 0.3fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "Header Header Header"
    "Content Content Content"
    "Footer Footer Footer"; 
}
.Header { grid-area: Header; }
.Content { grid-area: Content; }
.Footer { grid-area: Footer; }